/****  CLEAR ALL SETTINGS ****/
* {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
}


/****  WRAPPER  ****/
.wrapper {
    display: grid;
    grid-gap: 20px;
}




/****  LEFT SIDE  ****/
/****  LEFT SIDE ~ MENU ITEMS  ****/
#sideBar {
    background: rgb(11, 14, 46);
    width: 300px;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    justify-items: center;
    position: fixed;
    overflow: none;
    left: 0;
    transition: all 500ms linear;
}

#sideBar.active {
    left: -300px;
}

.sideBar a {
    color: white;
}

/****  LEFT SIDE ~ HEADER & LOGO  ****/
.header {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template: 1fr;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid white;
}

.logo {
    background-image: url(/images/Logo1.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/****  LEFT SIDE ~ TOGGLE BUTTON  ****/
#toggleBtn {
    position: absolute;
    left: 266px;
    top: 201px;
    background: orangered;
    padding: 2px;
    transition: all 500ms linear;
}

#toggleBtn.active {
    left: 300px;
    top: 201px;
    z-index: 1;
}

#menuBtn {
    display: grid;
    width: 30px;
    height: 30px;
    color: white;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    transition: all 500ms linear;
}

#menuBtn.active {
    transform: rotate(-180deg);
}

/****  LEFT SIDE ~ NAVBAR  ****/
.navbar {
    width: 300px;
    height: 45vh;
    justify-content: start;
    display: grid;
    padding-top: 50px;
}

.navbar ul {
    list-style: none;
    padding-left: 50px;
}

.navbar ul a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 2px;
}

.navbar ul #donate {
    padding-top: 25px; 
}

.navbar ul .donate {
    display: inline-block;
    background: orangered;
    border: 1px solid white;
    padding: 0px 50px;
}

.navbar ul .donate a {
    font-size: 18px;
}

.navbar ul .donate a:hover {
    color: rgb(11, 14, 46);
    font-weight: bolder;
}

.navbar ul a:hover {
    color: orangered;
    transition: .5s;
}

.navbar ul a::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 5px;
    right: 0;
    width: 0;
    height: 2px;
    background: orangered;
    transition: .3s;
}

.navbar ul a:hover::before {
    width: 100%;
    transition: .3s;
}

.navbar ul a::after {
    content: '';
    position: absolute;
    display: block;
    top: 8px;
    left: 0;
    width: 0;
    height: 2px;
    background: orangered;
    transition: .3s;
}

.navbar ul a:hover::after {
    width: 100%;
    transition: .3s;
}


/****  LEFT SIDE ~ FOOTER  ****/
.navFooter {
    width: 100%;
    height: 100px;
    display: grid;
}

.navFooter ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    list-style: none;
    padding: 15px;
}

.navFooter ul li {
    font-size: 30px;
}

.navFooter ul li a:hover {
    color: orangered;
}




/****  RIGHT SIDE  ****/
#rightSideWrapper {
    box-sizing: border-box;
    color: rgb(11, 14, 46);
}

#rightSide {
    background: #ccc;
    margin: 30px 50px 30px 350px;
    transition: all 500ms linear;
}

#rightSide.active {
    margin: 30px 50px;
}


/****  RIGHT SIDE ~ HOME PAGE  ****/
#home {
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    height: 100vh;
    display: grid;
    animation: animate 60s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 500ms linear;
}

@keyframes animate {
    0%, 100% {
        background-image: url(/images/Home/dog1.jpg)
    }
    10% {
        background-image: url(/images/Home/dog2.jpg)
    }
    20% {
        background-image: url(/images/Home/dog3.jpg)
    }
    30% {
        background-image: url(/images/Home/dog4.jpg)
    }
    40% {
        background-image: url(/images/Home/dog5.jpg)
    }
    50% {
        background-image: url(/images/Home/dog6.jpg)
    }
    60% {
        background-image: url(/images/Home/dog7.jpg)
    }
    70% {
        background-image: url(/images/Home/dog8.jpg)
    }
    80% {
        background-image: url(/images/Home/dog9.jpg)
    }
    90% {
        background-image: url(/images/Home/dog10.jpg)
    }
}

#home h1 {
    background: red;
    color: white;
    font-size: 60px;
}

#home h3 {
    background: yellow;
    color: white;
    font-size: 30px;
}


/****  RIGHT SIDE ~ OUR IMPACT PAGE  ****/
#impact {
    background: yellow;
    margin: 30px 50px;
    height: 100vh;
    background: #ddd;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 3rem;
    clear: all;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

#impact h1 {
    font-size: 50px;
    padding-bottom: 20px;
    text-shadow: 0px 1px 3px rgba(104, 104, 104, 0.8);
}

#impact p {
    font-size: 20px;
    padding: 10px;
}

#impact img {
    background: red;
    display: grid;
    max-width: 100%;
    max-height: 95vh;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


/****  RIGHT SIDE ~ HOW CAN I HELP PAGE  ****/
#howHelp {
    background: url(/images/Logo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}


/****  RIGHT SIDE ~ EVENTS PAGE  ****/
#events {
    background: url(/images/Logo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}


/****  RIGHT SIDE ~ FAQ PAGE  ****/
#faq {
    background: url(/images/Logo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}