/****  CLEAR ALL SETTINGS ****/
* {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
}


/****  WRAPPER  ****/
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}



/****  LEFT SIDE ~ MENU ITEMS  ****/
#sideBar {
    background: rgb(11, 14, 46);
    width: 300px;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    justify-items: center;
    position: fixed;
    overflow: none;
    left: 0;
    transition: all 500ms linear;
}

#sideBar.active {
    left: -300px;
}

.sideBar a {
    color: white;
}

/****  LEFT SIDE ~ HEADER & LOGO  ****/
.header {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template: 1fr;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid white;
}

.logo {
    background-image: url(/images/Logo1.jpg);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/****  LEFT SIDE ~ TOGGLE BUTTON  ****/
#toggleBtn {
    position: absolute;
    left: 266px;
    top: 201px;
    background: orangered;
    padding: 2px;
    transition: all 500ms linear;
}

#toggleBtn.active {
    left: 300px;
    top: 201px;
}

#menuBtn {
    display: grid;
    width: 30px;
    height: 30px;
    color: white;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    transition: all 500ms linear;
}

#menuBtn.active {
    transform: rotate(-180deg);
}

/****  LEFT SIDE ~ NAVBAR  ****/
.navbar {
    width: 300px;
    height: 45vh;
    justify-content: start;
    display: grid;
    padding-top: 50px;
}

.navbar ul {
    list-style: none;
    padding-left: 50px;
}

.navbar ul a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 2px;
}

.navbar ul #donate {
    padding-top: 25px;
}

.navbar ul .donate {
    display: inline-block;
    background: orangered;
    border: 1px solid white;
    padding: 0px 50px;
}

.navbar ul .donate a:hover {
    color: rgb(11, 14, 46);
    font-weight: bolder;
}

.navbar ul a:hover {
    color: orangered;
    transition: .5s;
}

.navbar ul a::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 5px;
    right: 0;
    width: 0;
    height: 2px;
    background: orangered;
    transition: .3s;
}

.navbar ul a:hover::before {
    width: 100%;
    transition: .3s;
}

.navbar ul a::after {
    content: '';
    position: absolute;
    display: block;
    top: 8px;
    left: 0;
    width: 0;
    height: 2px;
    background: orangered;
    transition: .3s;
}

.navbar ul a:hover::after {
    width: 100%;
    transition: .3s;
}

/****  LEFT SIDE ~ FOOTER  ****/
.navFooter {
    width: 100%;
    height: 100px;
    display: grid;
}

.navFooter ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    list-style: none;
    padding: 15px;
}

.navFooter ul li {
    font-size: 40px;
}

.navFooter ul li a:hover {
    color: orangered;
}



#rightSide {
    margin: 0;
    padding: 0px 310px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-column: 1/13;
    transition: all 500ms linear;
}

#rightSide.active {
    padding: 0;
}

.rightSide p {
    
}

